body{
    background-image: url('../imagens/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
@media (max-width: 613px){
	body{
		background-image: url('../imagens/background.jpg');
        background-attachment: fixed;
	}
    .container {
        background-color: rgba(255, 217, 0, 0.705);
        border-radius: 50px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
    }
    .right{
        padding: 20px 50px;
    }
    .contact{
        justify-content: center;
        align-items: center;
        padding: 100px 200px;
    }
    .contact-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
        border-radius: 50px;
        border-style: solid;
        border-color: rgb(0, 0, 0);
    }
    .blog-portfolio {
        display: grid;
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .container-blog {
        border-radius: 50px;
        border-style: solid;
        display: grid;
        border-color: rgb(5, 0, 0);
        padding: 5px 30px;
    }
    .blog-mensagem {
        margin: 0px 10px;
        font-size:16px;
        color:rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
ul.navegacao {
    margin: 0px 0px; 
    padding: 0px 0px;
    list-style-type: none;
    position: fixed;
    top: 0;
    background-color: rgb(247, 224, 21);
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
} 
ul.navegacao li { 
    list-style:none; 
    display:inline; 
    text-align: center;
} 
ul.navegacao li a { 
    float: left;
    margin:5px; 
    padding:7px;  
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    color: red;
}
.autor {
	font-size:40px;
	text-align:center;
	color:rgb(255, 255, 255);
    font-weight:bolder;
    margin: 0px 0px;
}
.autor-mensagem {
    margin: 0px 50px;
	font-size:16px;
	line-height:27px;
	text-align:center;
	color:rgb(255, 255, 255);
	font-family:'Anonymous Pro', monospace;
}
.autor-imagem {
    display:block;
    margin:auto;
    padding-top: 75px;
    border: none;
}
.blog-mensagem {
    padding-top: 75px;
    margin: 0px 10px;
	font-size:16px;
	color:rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hyperlink:hover {
    text-decoration:none;
    color: red;
}
.container {
    float: left;
    display: flex;
    margin: auto;
    background-color: rgba(255, 217, 0, 0.705);
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
}
.imagemeventos {
    width: 200px;
    height: 160px;
    margin: auto;
    padding: auto;
    background-repeat: no-repeat;
}
.textoeventos {
    margin: 0px 50px;
	font-size:18px;
    color: black;
    padding: auto;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textoeventos2 {
    margin: 0px 50px;
    padding: auto;
}
.textonovidade {
    color: rgb(255, 255, 255);
}
.field{
	width: 100%;
	border: 2px solid rgb(0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    color:white;
    font-style: oblique;
}
.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}
.contact{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 50px;
}
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #35343400;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.contact-box{
	max-width: 750px;
	display: flex;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.right{
	padding: 25px 60px;
}
.blog-portfolio {
    padding: 35px 300px;
    height: 100%;
}
.container-blog {
    border-radius: 50px;
    border-style: solid;
    display: flex;
    border-color: rgb(5, 0, 0);
    padding: 5px 30px;
}